body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    background-color: #666666;
}

.container {
    background-color:#333333;
    margin: 50px auto;
    width: 60%;
    overflow: auto;
    min-height: 650px;
    
} 

header {
    
    padding: 15px 10px 10px 15px;
    border-bottom: 1px solid #ffffff;
    
}

header h1 {
    color: #ffffff;
    font-size: 22px;
}

#shouts {
    background-color: #f4f4f4;
    width: 90%;
    height: 400px;
    margin: 20px auto;
    overflow: auto;
    
}

.shout {
    list-style: none;
    padding: 10px;
    border-bottom: 1px #000000 dotted;
    
}

.shout span {
    color: #aaaaaa;  
}

.input {
    width: 90%;
    min-height: 80px;
    margin: auto;
    padding: 0px;
}

.input input[type="text"] {
    height: 25px;
    width: 48%;
    padding: 3px;
    margin-bottom: 20px;
    border: 1px #cccccc solid;
    
}

.input .shout-btn {
    padding: 5px;
    width: 100%;
    margin: 10px auto;
}

.error {
    background-color: #ff0000;
    color: #ffffff;
    padding: 5px;
    margin-bottom: 20px;
}

@media only screen and (max-width:900px){
    
    .input input[type="text"] {
    width: 98%; 
    }
    
}


